.palette-accent-brown .article a:hover,
.palette-accent-brown .article a:focus{
  color: #5D4037;
}

.palette-accent-brown .repo a{
  background: #5D4037;
}

.article table td,
.article table th{
	padding:12px 16px;
	white-space: normal;
}

.palette-primary-light-green .article code,
.article code{
	background: #edf4e4;
	color: #33691E;
}

.palette-primary-light-green .article pre code,
.article pre code{
	background: transparent;
	white-space: pre-wrap;
}

.project .logo img {
	border-radius: 10%;
}
